@tailwind base;
@tailwind components;
@tailwind utilities;


.grid{
  display: grid;
  gap: 5rem;
}
.grid-two-cols{
  grid-template-columns: repeat(2,1fr);
}

.grid-three-cols{
  grid-template-columns: repeat(3,0.1fr);
}